*.onnx filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
models/*.onnx filter=lfs diff=lfs merge=lfs -text
demo/image_demo_1.jpg filter=lfs diff=lfs merge=lfs -text
demo/image_demo_2.jpg filter=lfs diff=lfs merge=lfs -text
demo/video_demo.mp4 filter=lfs diff=lfs merge=lfs -text
models/test/*.jpg filter=lfs diff=lfs merge=lfs -text
